/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
:root {
  --color-background: #000119;
  --stroke-width: calc(1em / 16);
  --font-size: 30vmin;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}

/* * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000119;
  background-color: var(--color-background);
  display: grid;
  font-family: Poppins, sans-serif;
  margin: 0;
  min-height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  place-items: center;
  padding: 5vmin;
} */

h1 {}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-items: center;
  height: 400px;
  align-items: center;
  grid-gap: 10px;
  width: 100%;
  background-color: #00303ab5;
  border-radius: 10px;
}

.fsw {
  font-weight: 700;
  color: #4abecd;
}

.container_card {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  /* background-color: #001915c7; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img_style {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.maincontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #4abecd;
  text-decoration: underline;
  text-decoration-color: #06816e;
}

.navBarmobile {
  display: none;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(#000000, #067c8c);
  height: 70px;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(#000000, #067c8c);
  height: 70px;
  z-index: 12;
}

.background_style {
  background-color: #000000;
  height: 100vh;
  position: fixed;
  width: 100%;
  background-image: url("../images/sep12.jpg");

}

.nav_flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  list-style: none;
  /* margin: 150px auto 0; */
  padding: 0;
  list-style: none;
  /* display: table; */
  /* width: 600px; */
  text-align: center;
}

a {
  color: #4abecd;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  transition: 1ms;
}

.title {
  font-size: 55px;
  color: #121415;
  font-family: cursive;
  text-align: center;
  /* -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#09f1b8), color-stop(#00a2ff), color-stop(#ff00d2), to(#fed90f));
  background-image: -o-linear-gradient(left, #09f1b8, #00a2ff, #ff00d2, #fed90f);
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
  color: #000119;
  color: var(--color-background);
  font-size: 4vmin;
  font-weight: 700;
  font-weight: var(--font-weight);
  letter-spacing: calc(1em / 8);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
  -webkit-text-stroke-width: var(--stroke-width); */

}


main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #00adb5;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}


li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

li:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#icon {
  font-size: 50px;
  color: #13adc2;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  .nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 78%;
    list-style: none;
    /* margin: 150px auto 0; */
    padding: 0;
    list-style: none;
    /* display: table; */
    /* width: 600px; */
    text-align: center;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-items: center;
    height: 324px;
    align-items: center;
    grid-gap: 10px;
    width: 100%;
    background-color: #00303ab5;
    border-radius: 10px;
  }

  .title {
    font-size: 20px;
    color: #121415;
    font-family: cursive;

  }

  .navBar {
    display: none;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(#152527a6, #0b4d56);
    height: 70px;
  }

  .navBarmobile {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(#000000, #067c8c);
    height: 70px;
  }

  .nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    padding: 0;
    list-style: none;
    text-align: center;
    flex-direction: column;
    background-color: #0b4951ed;
    height: 500px;
    position: absolute;
    top: 56px;
    border-radius: 6px;
  }
}

@media (max-width: 500px) {
  .nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 78%;
    list-style: none;
    /* margin: 150px auto 0; */
    padding: 0;
    list-style: none;
    /* display: table; */
    /* width: 600px; */
    text-align: center;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-items: center;
    height: 324px;
    align-items: center;
    grid-gap: 10px;
    width: 100%;
    background-color: #00303ab5;
    border-radius: 10px;
  }

  .title {
    font-size: 20px;
    color: #121415;
    font-family: cursive;

  }

  .navBar {
    display: none;
  }

  .navBarmobile {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(#000000, #067c8c);
    height: 70px;
    z-index: 12;
  }

  .nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    padding: 0;
    list-style: none;
    text-align: center;
    flex-direction: column;
    background-color: #0b4951ed;
    height: 500px;
    position: absolute;
    top: 56px;
    border-radius: 6px;
    z-index: 12;
  }
}

@media (max-width: 900px) {
  .nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 78%;
    list-style: none;
    /* margin: 150px auto 0; */
    padding: 0;
    list-style: none;
    /* display: table; */
    /* width: 600px; */
    text-align: center;
  }
}

@media (max-width: 768px) {
  .nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 78%;
    list-style: none;
    /* margin: 150px auto 0; */
    padding: 0;
    list-style: none;
    /* display: table; */
    /* width: 600px; */
    text-align: center;
  }

  .navBarmobile {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(#000000, #067c8c);
    height: 70px;
    z-index: 12;
  }

  .navBar {
    display: none;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(#000000, #067c8c);
    height: 70px;
  }

  .nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    padding: 0;
    list-style: none;
    text-align: center;
    flex-direction: column;
    background-color: #0b4951ed;
    height: 500px;
    position: absolute;
    top: 56px;
    border-radius: 6px;
    z-index: 12;
  }
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    height: 745px;
    align-items: center;
    grid-gap: 10px;
    width: 100%;
    background-color: #00303ab5;
    border-radius: 10px;
  }

  .title {
    font-size: 20px;
    color: #121415;
  }

}

@media (max-width: 1024px) {
  .nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 78%;
    list-style: none;
    /* margin: 150px auto 0; */
    padding: 0;
    list-style: none;
    /* display: table; */
    /* width: 600px; */
    text-align: center;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    height: 384px;
    align-items: center;
    grid-gap: 10px;
    width: 100%;
    background-color: #00303ab5;
    border-radius: 10px;
  }


  .img_style {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }

  .fsw {
    font-weight: 700;
    color: #4abecd;
    font-size: 7px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  /* .container {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    height: 634px;
    align-items: center;
    grid-gap: 10px;
    width: 70%;
    background-color: #00303ab5;
    border-radius: 10px;
  } */

  section {
    /* border-bottom: none;
    margin-left: -4px;
    border-right: solid 1px #dbdce1; */
    /* height: 1000px;
    overflow-y: scroll; */
  }

  section img {
    width: 140px;
  }
}